*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
}

.navbar label, #hamburger{
    display: none;
}

.navbar{
    color: white;
    display: flex;
}

.spacer{
    flex: 1;
}

.navbar ul a{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0px 30px;
}

.navbar ul{
    display: flex;
    padding: 0px 30px;
}

#portfolio{
    background-color:white;
    padding: 30px;
    margin: 40px;
}

.images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.images> div{
    width: 260px;
    height: 370px;
    text-align: center;
    margin-top: 10px;
}

/* competence level */

 .progress{
    width: 800px;
    margin: 0 auto;
    background-color: aqua;
}

.progress h1{
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}

.progress h2{
    text-align: left;
    background-color: blue;
}

line{
    height: 25px;
    min-width: 800px;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 45px;
    background-color: yellow; */
    padding: 0 0 0 10px;
    position: relative;
}

.line::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 25px;
    left: 0;
    top: 0;
    z-index: -2;
    background: blue;
}

.line::after{
    content: '';
    background: red;
    height: 25px;
    transition: 0.8s;
    display: block;
    width: 100%;
    animation: animate 1 4s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.line1::after{
    max-width: 90%;
}

.line2::after{

}


.Text1{
    text-align: center;
    background-color:transparent;
    margin-bottom: 30px;
}

.textonbg{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),
    url(../sissors.jpg);
    background-size: cover;
    padding: 80px;
    width: 100%;
    height: 100%;
}

.textonbg h1{
    width: 100%;
    height: 60px;
    text-align: center;
}

#home{
    background-image: url(../header.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.boldtext{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-self: center;
    text-align: center;
    max-width: 80%;
    color: azure;
    font-size: 200%;
    margin: 20px auto;
}

.boldtext > h1{
    text-align: center;
    color: blanchedalmond;
    font-family: cursive;
    font-weight: 900;
    font-size: 80px;
    margin-top: 20px;
}

.profileimg > img{
    height: 300px; 
    width: 250px; 
    border-radius: 50%; 
    margin-top: 30px; 
}

.work{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

#footer{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 40px;
}

#footer> .top{
    margin: 40px;
}

#footer .bottom{
    margin: 40px;
}

#footer>div>p{
    padding:30px;
}

.bottom>div>i{
    font-size: 50px;
    padding: 10px;
}

.backup> a> i{ 
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: black;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* Show Hamburger */
    .navbar label {
      display: inline-block;
      color: #fff;
      font-style: normal;
      font-size: 1.5em;
      padding: 10px;
    }

      /* Break down menu items into vertical */
  
  .navbar ul li {
    display: block;
  }

    /* Toggle show/hide menu on checkbox click */
    .navbar ul {
        display: none;
      }

      .navbar input:checked ~ ul {
        display: block;
      }

      .navbar{
          display: flex;
          flex-direction: column;
          position: fixed;
          width: 100%;
          top: 1px;
          left: 3px;
          background-color: rgba(0, 0, 0, 0.4);
      }

      .navbar div h1{
          text-align: center;
      }

      #home{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
      }

      #home>div{
          width: 100%;
      }

      .boldtext > h1{
        text-align: center;
        color: blanchedalmond;
        font-family: cursive;
        font-weight: 900;
        font-size: 50px;
        margin-top: 15px;
    }

    .boldtext{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        align-self: center;
        text-align: center;
        max-width: 80%;
        color: azure;
        font-size: 20px;
        margin: 17px auto;
    }

    .profileimg> img{
        width: 120px;
        height: 150px;
        margin-top: 55px;
    }

    .images> div{
        margin-top: 40px;
    }

    .work> div{
        margin-top: 40px;
    }
}