*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
}

.header{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    background: transparent;
    height: 50px;
    padding: 10px;
    color: antiquewhite;
}

.header>div{
    width: 50%;
    margin-top: 10px;
}


.contacts ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.thirdpart{
    background-color:white;
    padding: 30px;
    margin: 40px;
}

.images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.images> div{
    width: 260px;
    height: 370px;
}


.Text1{
    text-align: center;
    background-color:transparent;
    margin-bottom: 30px;
}

.textonbg{
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
    url(../sissors.jpg);
    background-size: cover;
    padding: 80px;
    width: 100%;
    height: 70vh;
}

.textonbg p{
    width: 200px;
    height: 60px;
}

.secondpart{
    background-image: url(../beth-tate-a6FNJKMreCc-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
}

/*.secondpart>h1{
    color: beige;
    font-size: 100px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    border: 6px solid red;
}*/

.boldtext{
    text-align: center;
    color: azure;
    font-size: 30px;
    margin-top: 5px;
}

.boldtext > h1{
    text-align: center;
    color: blanchedalmond;
    font-family: cursive;
    font-weight: 900;
    font-size: 100px;
    margin-top: 70px;
}

.footer{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.footer> .top{
    margin: 40px;
}

.footer .bottom{
    margin: 40px;
}

.footer>div>p{
    padding:30px;
}